*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  width: 1200px;
  display: block;
  margin: 0px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding Custome CSS Property */
.topNav{
    background: black;
    color: white;
    textAlign: left;
    padding: 0px 0px 0px 5px;
    height: 50px;
}

.internalBox{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-around;
  width: 90%;
  margin: 50px auto 0px;
  align-items: flex-end;
  flex-wrap: wrap;

  & article{
    width: 200px;
    max-height: 215px;
        margin: 20px 19px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 20px;
        row-gap: 2px;
    & h6{
      margin: 0px;
      padding: 0px;
    }
  }
}

.cardInput{
  width: 60%;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  color: #4c5442;
  border: 3px solid #ffe000;
  border-radius: 10px;
  box-shadow: 6px 1px 10px 4px;
  padding: 10px 10px ;
  &:focus-visible{
    outline: none;
  }
}

.noDataCard{
  font-family: sans-serif;
    margin: 45px auto;
    font-size: 40px;
    border: 5PX SOLID #ffe000;
    border-radius: 12px;
    width: 80%;
    padding: 40px;
    box-shadow: 11px 8px 19px 0px;
}